.p-wrapper{
    clip-path: ellipse(123% 100% at 35.4% 100%);
    background: #0F1624;
    padding: 60px 20px;
}
.container{
    margin: 10px auto;
    width: 94%;
}
.p-r {
    width: 64px;
    height: 6px;
    margin: 0px auto;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    background: linear-gradient(
270deg,#13ADC7 0%,#945DD6 100%);
}

.container h2{
    font-size: 45px;
    color: #fff;
    padding-top: 20px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    padding: 3rem;
    place-items: center;
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    row-gap: 3rem;
}

.project-items{
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgb(80 78 78 / 50%);
    text-align: center;
    width: 300px;
}

.project-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.project-details{
    text-align: center;
    z-index: 20;
    width: 100%;
}

.project-details h3{
    font-weight: 400;
    -webkit-letter-spacing: 2px;
    -moz-letter-spacing: 2px;
    -ms-letter-spacing: 2px;
    letter-spacing: 2px;
    color: #9cc9e3;
    padding: 0.3rem 0;
    font-size: 1.4rem;
}

.project-details hr{
    width: 50px;
    height: 3px;
    margin: 2px auto;
    border: 0;
    background: #d0bb57;
}

.project-details p{
   
    padding: 12px;
    color: #e4e6e7;
    font-size: 0.8rem;
    line-height: 21px;
    text-align: justify;
}

.project-details .stack{
    text-align: center;
    z-index: 20;
    width: 100%;
    color: #fff;
    font-size: 1rem;
}

.project-details ul{
    margin: 10px auto;
    width: 95%;
    padding-left: 0px;
}

.project-details ul li{
    color: #d8bfbf;
    font-size: 0.8rem;
    display: inline-block;
    list-style: none;
    padding: 5px;
    border: 1px solid #ddd;
    margin: 4px;
    border-radius: 5px;
}

.project-details .btns{
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    margin: 1rem 0;
}

.project-details .btns a{
    color: #d4c0c0;
    font-size: 1rem;
    padding: .6rem 1.4rem;
    background: #9cc9e3;
    color: black;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

.project-details .btns a:hover{
    background: #3f803d;
    color: #fff;
}